@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
    color: #4B5563;
    background-color: #FAFAFA;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}

a, button {
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
}
a::after, a::before, a span, button::after, button::before, button span {
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
}

.outer-wraper {
    overflow-x: hidden;
    width: 100%;
}

p {
    margin-bottom: 31px;
}
p:last-child {
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 0;
    color: #374151;
}

h5 {
    font-weight: 300;
    font-size: 62px;
    letter-spacing: 0.03em;
}

h6 {
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 0.04em;
}

.container {
    max-width: 1206px;
    padding-left: 14px;
    padding-right: 14px;
}

header.header-main {
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    padding: 10px 32px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}
header.header-main ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
header.header-main ul li {
    margin: 0 8px;
    list-style: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}
header.header-main ul li a {
    display: block;
    padding: 8px 16px;
    color: #6B7280;
}
header.header-main ul li a:hover, header.header-main ul li a.active {
    background-color: #E5E7EB;
    color: #374151;
}

.main {
    padding: 56px 20px 82px 20px;
}

.wrape {
    max-width: 924px;
    margin-left: auto;
    margin-right: auto;
}
.wrape .form-col, .wrape .form-col-auto {
    padding-left: 16px;
    padding-right: 16px;
}
.wrape .form-col {
    flex: 1 0 0%;
}
.wrape .form-col-auto {
    flex: 0 0 auto;
    width: auto;
}

.card {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 32px;
    background-color: #fff;
    margin-bottom: 18px;
}
.card.form-card {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.04);
    margin-bottom: 0px;
}

.form-select {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    display: block;
    width: 100%;
    padding: 7px 12px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-raw {
    display: flex;
    margin-left: -16px;
    margin-right: -16px;
}

.form-label {
    display: block;
    width: 100 .form-label;
    margin: 0 0 2px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

.form-control {
    padding: 9px 12px;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    font-size: 14px;
    max-width: 192px;
    line-height: 20px;
}

.btn-primary {
    background-color: #5B21B6;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    padding: 8px 36px;
    cursor: pointer;
}
.btn-primary:hover {
    background-color: #1B0076;
}

.mt-2 {
    margin-top: 23px;
}

.form-check-input[type=checkbox] {
    border-radius: 4px;
}

.form-check-input {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    margin-top: 6px;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid #E2E8F0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    background-color: #5B21B6;
    border-color: #5B21B6;
}
.btn-link {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-family: inherit;
}

.check-list {
    display: flex;
    align-items: center;
}

.col {
    flex: 1 0 0%;
}

.form-check {
    width: 24px;
}

.check-list small {
    font-size: 12px;
    color: #4B5563;
    display: block;
    margin-bottom: 8px;
}

.bottom-button {
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    z-index: 4;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    padding: 16px 0;
}
.bottom-button .btn-primary {
    font-size: 16px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.form-button {
    width: 130px;
}
.form-button .btn-primary-outline {
    background-color: #fff;
    border: 1px solid #6B7280;
    border-radius: 8px;
    font-size: 14px;
    line-height: 24px;
    color: #374151;
    font-weight: 500;
    padding: 8px 32px;
    cursor: pointer;
}
.form-button .btn-primary-outline:hover {
    background-color: #5B21B6;
    color: #fff;
}

.modal {
    position: fixed;
    z-index: 5;
    background: rgba(17, 24, 39, 0.7) 0% 0% no-repeat padding-box;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-wrap {
    background-color: #fff;
    padding: 24px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 100%;
    max-width: 673px;
}

.modal-header {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal-header h3 {
    font-size: 24px;
    font-weight: 600;
    color: #374151;
    margin: 0;
}

.justify-content-space {
    justify-content: space-between;
    align-items: center;
}

.modal-form .form-raw {
    margin-bottom: 16px;
}
.modal-form .form-raw .form-col {
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}
.modal-form .form-raw .form-col .form-control {
    width: calc(100% - 0px);
    max-width: inherit;
}
.modal-form .form-raw .form-col-auto {
    padding-left: 16px;
    padding-right: 16px;
}

.cal-contorl {
    background-image: url(../images/cal.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) center;
}

.postion-fixed {
    height: 159px;
}
.postion-fixed .postion-wrap {
    background-color: #F9FAFB;
    padding-top: 32px;
    position: fixed;
    width: calc(100% - 40px);
    max-width: 924px;
}

.spacer-32 {
    height: 32px;
}

@media (max-width: 767px) {
    .postion-fixed {
        height: inherit;
    }
    .postion-fixed .postion-wrap {
        background-color: #F9FAFB;
        padding-top: 32px;
        position: relative;
        width: calc(100% - 0px);
        max-width: 924px;
    }
    .card {
        padding: 24px;
    }
    .form-button .btn-primary-outline {
        padding: 8px 12px;
    }
    .form-button {
        width: 80px;
    }
    h4 {
        font-size: 18px;
        line-height: 24px;
    }
    .form-card .form-raw {
        display: block;
    }
    .form-card .form-raw .form-col {
        margin-bottom: 16px;
    }
    .form-card .form-raw .form-control {
        max-width: 100%;
        width: 100%;
    }
}