<template>
  <div>
    <div class="spacer-32"></div>
    <div v-for="(holiday, index) in holidayStore.apiHolidays" :key="index" class="card">
      <div class="check-list">
        <div class="col">
          <small>{{ holidayStore.formatListDate(holiday.date) }}</small>
          <h4>{{ holiday.localName }}</h4>
        </div>
        <div class="form-check">
          <input
              class="form-check-input"
              type="checkbox"
              :value="holiday"
              v-model="holidayStore.selectedHolidays"
              :id="`holiday-${index}`"
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useHolidayStore } from '@/stores/holidayStore'

const holidayStore = useHolidayStore()
</script>
