<template>
  <div class="form-col">
    <label for="country" class="form-label">Ülke</label>
    <div v-if="isCountriesLoading">Loading countries...</div>
    <select v-else class="form-select" id="country" :value="selectedCountry" @change="onCountryChange">
      <option v-for="country in countries" :key="country.countryCode" :value="country.countryCode">
        {{ country.name }}
      </option>
    </select>
  </div>
</template>

<script setup>
import { computed } from 'vue'
import { useHolidayStore } from '@/stores/holidayStore'

const holidayStore = useHolidayStore()
const props = defineProps({
  selectedCountry: String
})

const emit = defineEmits(['update:selectedCountry'])

const countries = computed(() => holidayStore.countries)
const isCountriesLoading = computed(() => holidayStore.countriesLoading)

function onCountryChange (event) {
  emit('update:selectedCountry', event.target.value)
}
</script>
