<template>
  <div class="postion-fixed">
    <div class="postion-wrap">
      <div class="card form-card">
        <div class="form-raw">
          <CountrySelector
              :selected-country="selectedCountry"
              @update:selected-country="selectedCountry = $event"
          />
          <YearInput
              :year="selectedYear"
              @update:year="selectedYear = $event"
          />
          <div class="form-col-auto">
            <button type="button" class="btn-primary mt-2" @click="fetchApiHolidays">GETİR</button>
          </div>
        </div>
        <ErrorMessage v-if="errorMessage" :message="errorMessage"/>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import { useHolidayStore } from '@/stores/holidayStore'
import CountrySelector from './CountrySelector.vue'
import YearInput from './YearInput.vue'
import ErrorMessage from './ErrorMessage.vue'

const holidayStore = useHolidayStore()
const selectedCountry = ref('TR')
const selectedYear = ref(new Date().getFullYear())
const errorMessage = ref('')

onMounted(() => {
  holidayStore.fetchCountries().catch((e) => {
    errorMessage.value = e.message || 'Failed to load countries.'
  })
})

const fetchApiHolidays = async () => {
  errorMessage.value = ''
  if (selectedCountry.value && selectedYear.value) {
    try {
      await holidayStore.fetchApiHolidays(selectedCountry.value, selectedYear.value)
    } catch (e) {
      errorMessage.value = e.message || 'Failed to fetch holidays.'
    }
  } else {
    errorMessage.value = 'Please select a country and year.'
  }
}

</script>
