<template>
  <div>
    <HolidayForm/>
    <ApiHolidays/>
    <ImportButton v-if="holidayStore.apiHolidays.length > 0"/>
  </div>
</template>

<script setup>
import HolidayForm from './HolidayForm.vue'
import ApiHolidays from './ApiHolidays.vue'
import ImportButton from './ImportButton.vue'
import { useHolidayStore } from '@/stores/holidayStore'

const holidayStore = useHolidayStore()
</script>
