<template>
  <div class="bottom-button" v-if="holidays.length > 0">
    <button type="button" class="btn-primary" :disabled="selectedHolidays.length === 0" @click="importSelectedHolidays">İÇERİ AKTAR</button>
  </div>
</template>

<script setup>
import { computed } from 'vue'
import { useHolidayStore } from '@/stores/holidayStore'
import { useToast } from 'vue-toast-notification'

const holidayStore = useHolidayStore()
const toast = useToast()

const holidays = computed(() => holidayStore.apiHolidays)
const selectedHolidays = computed(() => holidayStore.selectedHolidays)

const importSelectedHolidays = async () => {
  try {
    await holidayStore.importHolidays()
    toast.success('Holidays imported successfully')
    holidayStore.setCurrentView('calendar')
  } catch (e) {
    toast.error('Error importing holidays: ' + e.message)
  }
}
</script>
