<template>
  <div class="form-col-auto">
    <label for="year" class="form-label">Yıl</label>
    <input
        type="number"
        class="form-control"
        id="year"
        :value="year"
        @input="$emit('update:year', parseInt($event.target.value))"
    />
  </div>
</template>

<script setup>
const props = defineProps({
  year: Number
})

const emit = defineEmits(['update:year'])
</script>
