<template>
  <div id="app">
    <Navigation :current-view="currentView" @navigate="setCurrentView"/>
    <section class="main">
      <div class="wrape">
        <ImportTab v-if="currentView === 'holidayForm'"/>
        <CalendarTab v-if="currentView === 'calendar'"/>
      </div>
    </section>
  </div>
</template>

<script setup>
import { computed } from 'vue'
import Navigation from './Navigation.vue'
import ImportTab from './Import/ImportTab.vue'
import CalendarTab from './Calendar/CalendarTab.vue'
import { useHolidayStore } from '@/stores/holidayStore'

const holidayStore = useHolidayStore()

const currentView = computed(() => holidayStore.currentView)

function setCurrentView (view) {
  holidayStore.setCurrentView(view)
}
</script>
