<template>
  <header class="header-main">
    <ul>
      <li>
        <a :class="{ active: currentView === 'holidayForm' }" href="#" @click.prevent="emitNavEvent('holidayForm')">AKTARIM</a>
      </li>
      <li>
        <a :class="{ active: currentView === 'calendar' }" href="#" @click.prevent="emitNavEvent('calendar')">TAKVİM</a>
      </li>
    </ul>
  </header>
</template>

<script setup>

const emit = defineEmits(['navigate'])
const props = defineProps({
  currentView: String
})

function emitNavEvent (view) {
  emit('navigate', view)
}
</script>
