<template>
  <div>
    <div class="spacer-32"></div>
    <HolidayCard
        v-for="holiday in holidays"
        :key="holiday.id"
        :holiday="holiday"
        @edit="showEditModal"
    />
    <HolidayModal
        :show="showModal"
        :holiday-details="selectedHoliday"
        @update:show="showModal = $event"
        @save-holiday="handleUpdateHoliday"
    />
  </div>
</template>

<script setup>
import { ref, computed, onMounted } from 'vue'
import HolidayModal from './HolidayModal.vue'
import HolidayCard from './HolidayCard.vue'
import { useHolidayStore } from '@/stores/holidayStore'
import { useToast } from 'vue-toast-notification'

const holidayStore = useHolidayStore()
const showModal = ref(false)
const selectedHoliday = ref({})
const toast = useToast()
const holidays = computed(() => holidayStore.holidays)

onMounted(async () => {
  await holidayStore.fetchHolidays()
})

function showEditModal (holiday) {
  selectedHoliday.value = holiday
  showModal.value = true
}

async function handleUpdateHoliday (updatedHolidayDetails) {
  try {
    await holidayStore.updateHoliday(selectedHoliday.value.id, updatedHolidayDetails)
    toast.success('Holiday updated successfully')
    showModal.value = false
  } catch (error) {
    const message = error.response?.data?.message || 'Error updating holiday.'
    toast.error(message)
  }
}
</script>
