<template>
  <div class="modal" v-if="show">
    <div class="modal-wrap">
      <div class="modal-header">
        <h3>Düzenle</h3>
        <a href="#" @click.prevent="closeModal"><img src="../../../images/close.svg" alt="close"></a>
      </div>
      <div class="modal-body">
        <div class="modal-form">
          <div class="form-raw">
            <div class="form-col">
              <label for="date" class="form-label">Tarih</label>

              <VueDatePicker @update:model-value="setDate">
                <template #trigger>
                  <input type="text" class="form-control cal-contorl" v-model="holiday.date" id="date">
                </template>
              </VueDatePicker>

            </div>
            <div class="form-col">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" v-model="holiday.name" id="title">
            </div>
          </div>
          <div class="form-raw">
            <div class="form-col">
              <label for="notes" class="form-label">Not Ekle</label>
              <textarea class="form-control" id="notes" rows="3" v-model="holiday.notes"></textarea>
            </div>
          </div>
          <div class="form-raw justify-content-space">
            <div class="form-col">
              <button type="button" class="btn-link" @click="closeModal">İptal</button>
            </div>
            <div class="form-col-auto">
              <button type="submit" class="btn-primary" @click="save">Kaydet</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, watch } from 'vue'
import VueDatePicker from '@vuepic/vue-datepicker'
import '@vuepic/vue-datepicker/dist/main.css'
import { useHolidayStore } from '@/stores/holidayStore'

const holidayStore = useHolidayStore()

const props = defineProps({
  show: Boolean,
  holidayDetails: Object
})

const emit = defineEmits(['update:show', 'save-holiday'])

const holiday = ref({ ...props.holidayDetails })

watch(() => props.holidayDetails, (newVal) => {
  holiday.value = { ...newVal }
  holiday.value.date = holidayStore.formatListDate(newVal.date)
})

function closeModal () {
  emit('update:show', false)
}

function save () {
  emit('save-holiday', { ...holiday.value })
  closeModal()
}

const setDate = (value) => {
  holiday.value.date = holidayStore.formatListDate(value)
}

</script>
