<template>
  <div class="card">
    <div class="check-list">
      <div class="col">
        <small>{{ holidayStore.formatListDate(holiday.date) }}</small>
        <h4>{{ holiday.name }}</h4>
      </div>
      <div class="form-button">
        <button type="button" class="btn-primary-outline" @click="editHoliday">Düzenle</button>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useHolidayStore } from '@/stores/holidayStore'

const props = defineProps({
  holiday: Object
})

const emit = defineEmits(['edit'])

const holidayStore = useHolidayStore()

function editHoliday () {
  emit('edit', props.holiday)
}
</script>
